/* LAPTOP SCREEN */
@media screen and (max-width: 1280px){
    #wrapper{min-width: 1240px;margin: 0 auto}

    .modal_price_ct{width: 90%;left: 5%;flex-wrap: wrap;overflow: auto;}
    .modal_price_ct .modal_l{width: 100%;padding: 15px}
    .modal_price_ct .modal_r{width: 100%;padding: 15px;}
    .modal_price_ct .modal_l .big,
    .modal_price_ct .modal_r .big{font-size: 18px;}

}

@media screen and (min-width: 769px){
    header .head_ct nav ul li.sub:hover ul.nav_sub{opacity: 1;visibility: visible;top: 100%;}
    header .head_ct nav ul li.sub_lv2:hover ul.nav_sub_lv2{opacity: 1;visibility: visible;top: 0%;}
    header .head_fct p a:hover,
    header .head_ct nav ul li a:hover{color: #f8b15c;}

    header .head_ct nav ul li.sub ul.nav_sub li:hover,
    header .head_ct nav ul li.sub ul.nav_sub li.sub_lv2:hover ul.nav_sub_lv2 li:hover{background: #de5f24}
    header .head_ct nav ul li.sub ul.nav_sub li.sub_lv2:hover,
    header .head_ct nav ul li.sub ul.nav_sub li.sub_lv2:hover ul.nav_sub_lv2 li{opacity: 1;}
    header .head_ct nav ul li.sub ul.nav_sub li:hover a{color: #fff}
    #banner .nav_2 ul li a:hover{text-decoration: underline;}

    .btn a:hover{background: #000;color: #fff;border:1px solid #000;}
    .btn a:hover::before,
    .btn a:hover::after{background: #fff;}
    
    .box02 .box02_txt:hover .serv,
    .box02 .box02_txt:hover .name{opacity: 0;}
    .box02 .box02_txt:hover .link a{opacity: 1;visibility: visible;}
    
    .box01 .box01_txt .btn a:hover{background: #fff;color: #000}
    
    .function_aside ul li a:hover,
    .function_aside ul li a:hover span,
    .box03 .box03_list ul li .box03_img p a:hover,
    .box04 .box04_txt dt:hover,
    .box06 .box06_list dt a:hover,
    footer .foot_bot_it.desc ul li a:hover,
    .slick-arrow:hover{opacity: 0.7;cursor: pointer}

    .box03 .box03_list ul li .box03_txt .name a:hover,
    .box06 .box06_list dd .ttl a:hover,
    .box06 .box06_list dd .link a:hover,
    footer .foot_mid_box ul li .txt a:hover,
    footer .foot_bot_it.info p a:hover,
    footer .foot_bot_it.link ul li a:hover{color: #da5d24;text-decoration: underline;}

}

@media screen and (max-width: 768px){
    .wrapper{width: 100%;margin: 0 auto;min-width: inherit;}
    .inner{width: 100%;padding: 0 15px;margin: 0 auto;box-sizing: border-box;}
    .slick-arrow{width: 30px;height: 30px;top: calc(50% - 15px);transform: translateY(0);opacity: 1;}
    .slick-arrow::before{width: 30px;height: 30px;}
    .slick-next{right: 0}
    .slick-prev{left: 0}

    
    /* HEADER */
    .btn_open{display: flex;}
    header{position: relative;z-index: 9999;}
    header .container{padding: 0;align-items: center;height: 50px;}
    header .head_fct{display: none;}
    header .head_top{padding: 5px 10px}
    header .head_info{justify-content: space-between;font-size: 12px;width: 100%}
    header .head_info p{margin: 0}
    header .head_ct{position: fixed;top: 0;left: 0;background: #fff;width: 100%;height: 50px;z-index: 20;}
    header .head_ct #logo{width: 180px;}
    header .head_ct #logo a{width: 100%;height: 50px;background: #000;display: flex;align-items: center;}
    header .head_ct .container{align-items: flex-start;justify-content: flex-start}
    header .head_ct .gnavi{position:fixed;top: 50px;right:-200px;width: 100%;height:calc(100vh - 50px);transition:all ease 0.3s;z-index:1000;overflow:auto;opacity:0;visibility:hidden;background: #fff;overflow: auto;padding-bottom: 60px}
    header .head_ct .gnavi.active{opacity:1;visibility:visible;right:0;}
    header .head_ct .gnavi ul{padding:0;box-sizing:border-box;flex-direction: column;justify-content: flex-start;align-items: flex-start;width: 100%;height: 100%;}
    header .head_ct .gnavi ul li{position:relative;padding: 0 15px;width: 100%;border-bottom: 1px solid #fff;background: #f8b15c;}
    header .head_ct .gnavi ul li a{color:#fff;padding:0;text-decoration:none;position:relative;box-sizing:border-box;height: 50px;text-align: left;display: flex;justify-content: center;flex-direction: column-reverse;font-size: 14px;width: 70%;}
    header .head_ct .gnavi ul li.sub a span{width: 50px;height: 50px;transition: all ease 0.3s;position: absolute;top: 0;right: -50px; background: url('../images/ic_next.png') center no-repeat;background-size: 6px 12px;transform: rotate(90deg)}
    header .head_ct .gnavi ul li.sub a.disable span{transform:rotate(-90deg)}
    header .head_ct .gnavi ul li.sub ul{width: calc(100% + 30px);display:none;padding: 0;position: relative;top: inherit;left: -15px;opacity: 1;visibility: visible;border-radius: 0}
    header .head_ct .gnavi ul li.sub ul.open{display:block}
    header .head_ct .gnavi ul li.sub ul li{background: #fff;padding:0 15px;border-bottom:1px solid #f8b15c;}
    header .head_ct .gnavi ul li.sub ul li:last-child{border-bottom: none;}
    header .head_ct .gnavi ul li.sub ul li a{color: #f8b15c;background: none;border:none;padding:0;display: flex;align-items: center;justify-content: flex-start;flex-direction: row;height: 50px;}
    header .head_ct .gnavi ul li.sub ul li a::before{display: none;}
    header .head_ct .gnavi ul li:first-child a span{padding-top: 0}
    header .head_ct .gnavi p{display: none;}
    header .head_ct .search_sp{width: 50px;height: 50px;line-height: 1em;background: #000 url('../images/ic_search_w.png') center no-repeat;background-size: 20px 20px;transition: all ease 0.3s;cursor: pointer;position: absolute;top: 0;right: 50px;display: flex}
    header .head_ct .cart_sp{width: 50px;height: 50px;line-height: 1em;background: #999 url('../images/ic_cart.png') center no-repeat;background-size: 20px 20px;transition: all ease 0.3s;cursor: pointer;position: absolute;top: 0;right: 100px;display: flex;}
    header .head_ct .user_sp{width: 50px;height: 50px;line-height: 1em;background: #f1f3f5 url('../images/ic_user.png') center no-repeat;background-size: 20px 20px;transition: all ease 0.3s;cursor: pointer;position: absolute;top: 0;right: 150px;display: flex;}
    
    /* BANNER */
    #banner{margin-top: 0}
    #banner .slide{margin-bottom: 0}

    /* PAGE SẢN PHẨM */
    .main_product_ct{width: 100%;margin: 30px auto;padding-bottom: 30px;border-bottom: 1px solid #ededed;}
    .main_product_ct .product_list li{width: calc((100vw - 60px) / 3);margin-right: 15px}
    .main_product_ct .product_list li:nth-child(3n + 3){margin-right: 0}
    .main_product_ct .product_list li .main_product_img a{width: calc((100vw - 60px) / 3);height: calc((100vw - 60px) / 3);border:none;margin-bottom: 15px;}
    .main_product_ct .product_list li .main_product_txt .link a{font-size: 18px;margin-bottom: 10px;padding-bottom: 10px}
    .main_product_ct .product_list li .main_product_txt .price .real{font-size: 16px;}
    .main_product_ct .product_list li .main_product_txt .price .saleoff{font-size: 14px}
    
    /* PAGE CHI TIẾT SẢN PHẨM */
    .main_prd_detail_ct .productdetails{width: 100%;padding: 0}
    .prd_detail_ct .prd_detail_img{width: 300px;}
    .prd_detail_ct .prd_detail_img .prd_big li{height: auto;}
    .prd_detail_ct .prd_detail_txt h3{font-size: 24px;}
    .prd_detail_ct .prd_detail_txt{width: calc(100% - 300px);padding: 0 0 0 15px}

    .prd_related h3{font-size: 20px}
    .prd_related_list ul li{margin: 0 10px;padding: 5px}
    .prd_related_list li .img a{height: calc((100vw - 90px) / 2);width: calc((100vw - 90px) / 2)}
    .prd_related_list li .link a{font-size: 18px;margin-bottom: 10px;padding-bottom: 10px}
    .prd_related_list li .price .real{font-size: 16px}
    .prd_related_list li .price .saleoff{font-size: 14px}
}   



/* IPHONE 8 - LANSCAPE*/
@media screen and (max-width: 640px){
    
}
@media screen and (max-width: 580px){
    .modal_price_ct .modal_r .modal_r_list{flex-wrap: wrap;}
    .modal_price_ct .modal_r .modal_item{width: 100%;margin-bottom: 15px}
    .modal_price_ct .modal_r .modal_item:last-child{margin-bottom: 0}
    .modal_price_ct .modal_confirm{flex-wrap: wrap}
    .modal_price_ct .modal_confirm p{width: 100%;margin-bottom: 15px;}
    .modal_price_ct .modal_confirm p:last-child{margin-bottom: 0}
}

@media screen and (max-width: 480px){
    
}

/* IPHONE 5/6 */
@media screen and (max-width: 380px){
    
}
