@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap&subset=latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap&subset=vietnamese');

/*** Reset CSS ***/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,table,tr,th,td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; border: none; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,strong,th,var,optgroup { font-style: normal; font-weight: normal; }
del,ins { text-decoration: none; }
li { list-style: none; }
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 {font-size: 100%; font-weight: normal; line-height: 1.0; }
input,button,textarea,select,optgroup,option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input,button,textarea,select { *font-size: 100%; }
/*** End Reset CSS ***/

*{box-sizing: border-box;outline: none;}
body {color: #333;font: 400 14px 'Roboto Condensed', sans-serif;width: 100%;margin: 0;padding: 0;}
html {background: none;}
a{text-decoration: none;color: #fbaa39;}
a:hover,
a:active,
a:focus{outline: 0;}
img {vertical-align: middle;max-width:100%;}
input::-moz-focus-inner {border: 0;}
ul{list-style: none;}
table {width: 100%}
p {margin: 0 0 1.5em;}
section > p:last-child,
div > p:last-child{margin-bottom: 0}
/*** Clearfix ***/
.clearfix{display: block;}
.clearfix::after{content: ".";display: block;height: 0;clear: both;visibility: hidden;font-size: 0;}

#wrapper {min-width:1260px;overflow: hidden;margin-top: 220px}
p,
dd,
dt,
li,
th,
td{line-height: 1.75em;}

.container{width: 1200px;margin: 0px auto;}

/* ================= HEADER ================= */
header{}
header .head_top{background: #333;padding: 5px 0;}
header .head_top .container{display: flex;justify-content: space-between;}
header .head_info{}
header .head_info p{color: #fff;}

header .head_fct{display: flex;}
header .head_fct p{margin: 0 15px 0 0}
header .head_fct p a{color: #fff;}
header .head_fct p a img{vertical-align: middle;margin:0 5px 2px 0;}

header .head_ct{background: #fff;position: relative;z-index: 9;height: 120px;display: flex;align-items: center;}
header .head_ct.fixed{position: fixed;top: -100px;left: 0;width: 100%;opacity: 0;transition: all ease 0.3s;height: 65px;}
header .head_ct.fixed #logo{width: 150px}
header .head_ct.active{top: 0;opacity: 1;box-shadow: 0 0 25px 0px rgba(0,0,0,0.1);}
header .head_ct .container{display: flex;justify-content: space-between;align-items: center;}
header .head_ct #logo{width: 250px;}
header .head_ct #logo a{display: block;line-height: 0}

header .head_ct nav{width: calc(100% - 300px);display: flex;align-items: center;justify-content: flex-end}
header .head_ct nav ul{display: flex;justify-content: flex-end}
header .head_ct nav ul li{position: relative;padding: 20px 0;margin-left: 40px;}
header .head_ct nav ul li a{text-transform: uppercase;cursor: pointer;font-size: 16px;color: #000}
header .head_ct nav ul li.sub{position: relative;}
header .head_ct nav ul li.sub ul.nav_sub{justify-content: center;flex-direction: column;position: absolute;top: 120%;left: 0;opacity: 0;visibility: hidden;transition: all ease 0.3s;width: 200px;background: rgba(251,170,57,0.9);border-radius: 0 0 5px 5px;}
header .head_ct nav ul li.sub ul.nav_sub li{width: 100%;border:none;border-bottom: 1px dashed #fff;margin-left: 0;padding: 0;}
header .head_ct nav ul li.sub ul.nav_sub li::before{display: none;}
header .head_ct nav ul li.sub ul.nav_sub li:last-child{border-bottom: none;}
header .head_ct nav ul li.sub ul.nav_sub li a{padding: 16px 15px;display: block;color: #fff;}
header .head_ct nav ul li.sub_lv2 ul.nav_sub_lv2{justify-content: center;flex-direction: column;position: absolute;top: 120%;left: 100%;opacity: 0;visibility: hidden;transition: all ease 0.3s;width: 200px;background: rgba(251,170,57,0.9);border-radius: 0 0 5px 0;border-left: 1px solid #fff}
header .head_ct nav ul li.sub_lv2 ul.nav_sub_lv2 li{width: 100%;border:none;border-bottom: 1px dashed #fff;margin-left: 0;padding: 0;}
header .head_ct nav ul li.sub_lv2 ul.nav_sub_lv2 li::before{display: none;}
header .head_ct nav ul li.sub_lv2 ul.nav_sub_lv2 li:last-child{border-bottom: none;}
header .head_ct nav ul li.sub_lv2 ul.nav_sub_lv2 li a{padding: 16px 15px;display: block;color: #fff;}

.nav_2{background: #fbaa39;position: relative;z-index: 5}
.nav_2 ul{display: flex;justify-content: center;align-items: center;height: 50px}
.nav_2 ul li{margin: 0 20px;padding: 12px 15px}
.nav_2 ul li a{color: #fff;text-transform: uppercase;font-size: 16px;}
.nav_2 ul li.sub{position: relative;}
.nav_2 ul li.sub ul.nav_sub{justify-content: center;flex-direction: column;position: absolute;top: 120%;left: 0;opacity: 0;visibility: hidden;transition: all ease 0.3s;width: 200px;background: rgba(251,170,57,0.9);border-radius: 0 0 5px 5px;height: auto;}
.nav_2 ul li.sub ul.nav_sub li{width: 100%;border:none;border-bottom: 1px dashed #fff;margin: 0;padding: 0;}
.nav_2 ul li.sub ul.nav_sub li::before{display: none;}
.nav_2 ul li.sub ul.nav_sub li:last-child{border-bottom: none;}
.nav_2 ul li.sub ul.nav_sub li a{padding: 16px 15px;display: block;color: #fff;}
.nav_2 ul li.sub_lv2 ul.nav_sub_lv2{justify-content: center;flex-direction: column;position: absolute;top: 120%;left: 100%;opacity: 0;visibility: hidden;transition: all ease 0.3s;width: 200px;background: rgba(251,170,57,0.9);border-radius: 0 0 5px 0;border-left: 1px solid #fff;height: auto;}
.nav_2 ul li.sub_lv2 ul.nav_sub_lv2 li{width: 100%;border:none;border-bottom: 1px dashed #fff;margin-left: 0;padding: 0;}
.nav_2 ul li.sub_lv2 ul.nav_sub_lv2 li::before{display: none;}
.nav_2 ul li.sub_lv2 ul.nav_sub_lv2 li:last-child{border-bottom: none;}
.nav_2 ul li.sub_lv2 ul.nav_sub_lv2 li a{padding: 16px 15px;display: block;color: #fff;}

/* ================= CONTAINER ================= */
/* FONT PAGE */
.os{font-family: 'Oswald', sans-serif;font-weight: 500}

/* BUTTON SITE */
.btn{}
.btn a{width: 200px;height: 50px;border:1px solid #fff;color: #fff;display: flex;align-items: center;justify-content: center;text-align: center;margin: 0 auto;position: relative;transition: all ease 0.3s;text-transform: uppercase;letter-spacing: 0.1em}
.btn a::before,
.btn a::after{width: 22px;height: 1px;background: #fff;content: '';position: absolute;top: 50%;left: -11px;transition: all ease 0.3s}
.btn a::after{left: inherit;right: -11px;}

/* BACK TO TOP */
.btn_top{position:fixed;right: 10px;bottom: 50px;z-index: 9;cursor: pointer;margin-bottom: 0;display: flex;background: #fbaa39;align-items: center;justify-content: center;border-radius: 5px;width: 50px;height: 50px;animation: to_top infinite 2s forwards ease;}
.btn_top:hover{opacity: 0.7;}

@keyframes to_top{
	0%{bottom: 50px}
	50%{bottom: 70px}
	100%{bottom: 50px}
}

/* BUTTON OPEN NAV */
.btn_open{width: 50px;height:50px;margin: 0;position: absolute;top: 0px;right: 0;display: none;background: #f8b15c}
.btn_side{display:block;cursor:pointer;width:100%;height:100%;text-align:center;z-index:9999;position:relative;margin:0 auto;position:absolute;border-radius:0}
.btn_side span{display:block;position:absolute;height: 2px;width:15px;background:#fff;opacity:1;transform:rotate(0deg);transition:.3s ease-in-out}
.btn_side span:nth-child(even){left:calc(50% + 1px);}
.btn_side span:nth-child(odd){left:calc(50% - 14px);}
.btn_side span:nth-child(1),.btn_side span:nth-child(2){top:16px}
.btn_side span:nth-child(3),.btn_side span:nth-child(4){top:25px}
.btn_side span:nth-child(5),.btn_side span:nth-child(6){top:34px}

.btn_side.open span:nth-child(1),.btn_side.open span:nth-child(6){transform:rotate(45deg)}
.btn_side.open span:nth-child(2),.btn_side.open span:nth-child(5){transform:rotate(-45deg)}
.btn_side.open span:nth-child(1){left:calc(50% - 12px);top:21px}
.btn_side.open span:nth-child(2){left:calc(50% - 2px);top:21px}
.btn_side.open span:nth-child(3){left:-50%;opacity:0}
.btn_side.open span:nth-child(4){left:100%;opacity:0}
.btn_side.open span:nth-child(5){left:calc(50% - 12px);top:31px}
.btn_side.open span:nth-child(6){left:calc(50% - 2px);top:31px}

/* SLICK ARROW */
.slick-arrow{width: 24px;height: 48px;position: absolute;top: calc(50% - 24px);left: 15px;z-index: 5;background: none;border: none;}
.slick-arrow::before{width: 100%;height: 100%;background:url('../images/ic_prev.png') center /cover no-repeat;z-index: 1;content: '';display: block;}
.slick-next::before{background: url('../images/ic_next.png') center /cover no-repeat;}
.slick-next{left: inherit;right: 15px}

/* BANNER */
#banner .slide{position: relative;}
#banner .slide .slide_txt{display: flex;align-items: center;justify-content: center;flex-direction: column;position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 2}
#banner .slide .slide_txt .des{color: #fff;font-weight: 300;letter-spacing: 0.1em;text-transform: capitalize;font-size: 18px;margin-bottom: 15px}
#banner .slide .slide_txt .title{color: #fff;text-transform: capitalize;font-size: 54px;font-weight: bold;letter-spacing: 0.05em;margin-bottom: 50px;}

#banner .slide ul{}
#banner .slide ul li{height: calc(100vh - 204px);background-size: cover;background-position: center}

/* ================= CONTENT ================= */
/* TITLE ALL */
.box01 .box01_txt .title h3,
.box06 .box06_ct .title h3,
footer .foot_top .title h3,
footer .foot_mid_txt .big{font-size: 48px;font-weight: 300;text-transform: uppercase;}

.box01{background: #f6f7f8;padding: 100px 0}
.box01 .box01_ct{display: flex;justify-content: space-between;position: relative;}
.box01 .box01_txt{width: 48%}
.box01 .box01_txt .txt{margin-top: 15px;}
.box01 .box01_txt .btn{}
.box01 .box01_txt .btn a{background: #000;color: #fff;border-color: #000;margin:0;}
.box01 .box01_txt .btn a::before,
.box01 .box01_txt .btn a::after{background: #000;}
.box01 .box01_txt .title{text-transform: uppercase;}
.box01 .box01_txt .title h3{font-weight: bold;line-height: 1.25em}
.box01 .box01_txt .title h3 span{color: #fbaa39}
.box01 .box01_txt .title p{font-size: 36px;font-weight: 300;margin-bottom: 0}

.box01 .box01_img{width: 48%;text-align: center;}

.box01 .box01_year{padding-right: 15px;border-right: 10px solid #fbaa39;padding: 0;display: flex;justify-content: center;align-items: flex-end;flex-direction: column;margin-top: 50px;padding-right: 20px;}
.box01 .box01_year p{margin-bottom: 0;line-height: 1em;text-transform: uppercase;font-size: 24px;}
.box01 .box01_year .big{font-size: 80px;font-weight: bold;color: #e6e6e7;margin-bottom: 10px;letter-spacing: 0.05em}

.box02{}
.box02 ul{display: flex;}
.box02 ul li{position: relative;width: 25vw;}
.box02 ul li .box02_img{position: relative;z-index: 0;}
.box02 ul li .box02_txt{position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 2;padding: 30px;}
.box02 ul li .box02_txt p{transition: all linear 0.3s;}
.box02 ul li .box02_txt .link a{background: rgba(251,170,57,0.7);position: absolute;top: 0;left: 0;z-index: 3;content: '';width: 100%;height: 100%;opacity: 0;visibility: hidden;display: flex;align-items: center;justify-content: center;}
.box02 ul li .box02_txt p{text-transform: uppercase;color: #fff;letter-spacing: 0.05em;font-weight: 400;margin-bottom: 0}
.box02 ul li .box02_txt .name{font-size: 18px;}
.box02 ul li .box02_txt .name span{display: block;}
.box02 ul li .box02_txt .serv{letter-spacing: 0.5em;position: absolute;bottom: 30px;left: 30px;transform: rotate(180deg);font-size: 12px;
-webkit-writing-mode: vertical-lr;
-moz-writing-mode: vertical-lr;
-ms-writing-mode: tb-lr;
writing-mode: vertical-lr;
-webkit-text-orientation: mixed;
-moz-text-orientation: mixed;
-ms-text-orientation: mixed;
text-orientation: mixed;}

.box03{padding: 100px 0;background: #eee}
.box03 .box03_title{position: relative;padding: 0 15px}
.box03 .box03_title p{text-transform: uppercase;color: #999;font-size: 12px;}
.box03 .box03_title .big{font-size: 24px;color: #333;margin-bottom: 0}
.box03 .box03_title ul{position: absolute;top: 0;right: 0;display: flex;justify-content: flex-end;align-items: center;height: 65px;}
.box03 .box03_title ul li{margin-left: 20px;}
.box03 .box03_title ul li a{display: flex;align-items: center;height: 35px;color: #333;text-align: center;justify-content: center;padding: 0 20px;border-radius: 50px;background: #fff;border:1px solid #fff;}
.box03 .box03_title ul li.active a{background: #fbaa39;color: #fff;border-color: #fbaa39}
.box03 .box03_title ul li a:hover{background: #fff;color: #fbaa39;border-color: #fbaa39;}

.box03 .box03_list{}
.box03 .box03_list ul{display: flex;justify-content: space-between;}
.box03 .box03_list ul li{width: 380px;margin: 0 15px;background: #fff;position: relative;border-radius: 5px;overflow: hidden;padding-bottom: 30px}
.box03 .box03_list ul li .sale{position: absolute;top: 15px;left: 15px;width: 40px;height: 40px;z-index: 3;background: #333;color: #fff;display: flex;align-items: center;justify-content: center;text-align: center;border-radius: 50%;font-size: 16px;}
.box03 .box03_list ul li .box03_img{position: relative;height: 380px;width: 100%;}
.box03 .box03_list ul li .box03_img p a{width: 380px;height: 380px;display: flex;align-items: center;justify-content: center;text-align: center;position: absolute;top: calc(50% - 190px);left: calc(50% - 190px)}
.box03 .box03_list ul li .box03_img p img{max-height: 100%;max-width: 100%;width: auto;height: auto}
.box03 .box03_list ul li .box03_txt{margin-top: 30px;height: 82px}
.box03 .box03_list ul li .box03_txt p{text-align: center;}
.box03 .box03_list ul li .box03_txt .name{margin-bottom: 10px;}
.box03 .box03_list ul li .box03_txt .name a{display: block;width: 100%;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;text-transform: capitalize;font-size: 16px;color: #666;padding: 0 15px}
.box03 .box03_list ul li .box03_txt span{display: block;}
.box03 .box03_list ul li .box03_txt .price{color: #000;font-weight: bold;font-size: 16px;}
.box03 .box03_list ul li .box03_txt .ask{color: #fbaa39;font-size: 16px;}
.box03 .box03_list ul li .box03_txt .low{color: #ccc;font-size: 12px;text-decoration: line-through}

.box03 .box03_list .slick-arrow{width: 50px;height: 50px;top: calc(50% - 25px);left: -50px}
.box03 .box03_list .slick-arrow::before{background:url('../images/btn_prev.png') center /cover no-repeat;}
.box03 .box03_list .slick-next{left: inherit;right: -50px;}
.box03 .box03_list .slick-next::before{background: url('../images/btn_next.png') center /cover no-repeat;}

.box_banner{padding: 15px;display: flex;justify-content: space-between;width: 100%;}
.box_banner p{width: calc(50% - 5px);margin-bottom: 0}

.box04{padding: 100px 0;}
.box04 .box04_ct{display: flex;justify-content: space-between;}
.box04 .box04_txt{width: 48%;}
.box04 .box04_txt dl{}
.box04 .box04_txt dt{font-size: 36px;font-weight: 300;text-transform: uppercase;line-height: 1em;display: flex;align-items: center;cursor: pointer;}
.box04 .box04_txt dt span{color: #fbaa39}
.box04 .box04_txt dt .num{font-size: 36px;width: 50px;height: 50px;background: #fbaa39;color: #fff;display: flex;justify-content: center;align-items: center;border-radius: 50%;margin-right: 15px}
.box04 .box04_txt dd{margin-bottom: 30px;height: 0;opacity: 0;transition: all ease 0.3s;visibility: hidden;border:1px solid #fbaa39;}
.box04 .box04_txt dd.active{height: auto;opacity: 1;visibility: visible;margin: 30px 0;padding: 30px }
.box04 .box04_txt dd p{font-size: 16px}
.box04 .box04_txt dd p:last-child{margin-bottom: 0}
.box04 .box04_img{width: 48%;height: 100%;position: relative;}
.box04 .box04_img ul{position: relative;width: 100%;height: 100%;display: block;}
.box04 .box04_img ul li{position: absolute;top: 0;left: 0;z-index: 0;transition: all ease 0.3s;opacity: 0;}
.box04 .box04_img ul li.active{opacity: 1;position: relative;}

.box05{background: url('../images/box05_bg.jpg') center fixed no-repeat;padding: 100px 0}
.box05 .title{color: #fff;font-size: 48px;text-align: center;font-weight: 300;text-transform: uppercase;}
.box05 .box05_list{margin-top: 75px}
.box05 .box05_list ul{display: flex;justify-content: space-between;}
.box05 .box05_list ul li{width: 48%}
.box05 .box05_txt{position: relative;color: #fff;margin-bottom: 30px;padding: 0 30px}
.box05 .box05_txt::before{background: url('../images/ic_quote.png') center /cover no-repeat;width: 25px;height: 19px;position: absolute;top: 0;left: 0;content: '';}
.box05 .box05_user{padding: 0 30px;}
.box05 .box05_user dl{display: flex;align-items: center;}
.box05 .box05_user dt{width: 90px;height: 90px;margin-right: 30px;border: 3px solid #fff;}
.box05 .box05_user dd{}
.box05 .box05_user dd p{margin-bottom: 0;color: #fff;}
.box05 .box05_user dd .name{text-transform: uppercase;font-weight: 300;font-size: 18px;line-height: 1.25em}
.box05 .box05_user dd .staff{text-transform: capitalize;font-size: 16px;letter-spacing: 0.05em}

.box05 .slick-prev{left: -30px}
.box05 .slick-next{right: -30px}

.box06{padding: 100px 0 220px;background: #eee;}
.box06 .box06_ct{}
.box06 .box06_ct .title{max-width: 700px;margin: 0 auto;text-align: center;}
.box06 .box06_ct .title h3{margin-bottom: 15px}
.box06 .box06_ct .title p{}
.box06 .box06_list{margin-top: 50px;display: flex;justify-content: space-between;}
.box06 .box06_list dl{background: #fff;width: 380px;}
.box06 .box06_list dt{position: relative;height: 280px;width: 100%;}
.box06 .box06_list dt a{width: 380px;height: 280px;display: flex;align-items: center;justify-content: center;text-align: center;position: absolute;top: calc(50% - 140px);left: calc(50% - 190px)}
.box06 .box06_list dt a img{max-height: 100%;max-width: 100%;width: auto;height: auto}
.box06 .box06_list dd{padding: 30px}
.box06 .box06_list dd p{margin-bottom: 0}
.box06 .box06_list dd .date{font-size: 12px;color: #fbaa39;text-transform: uppercase;}
.box06 .box06_list dd .ttl{margin: 5px 0}
.box06 .box06_list dd .ttl a{font-size: 18px;text-transform: capitalize;display: inline-block;max-width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color: #000}
.box06 .box06_list dd .txt{text-overflow:ellipsis;overflow:hidden;max-height:200px;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;margin-bottom: 20px}
.box06 .box06_list dd .link{}
.box06 .box06_list dd .link a{color: #999;text-transform: uppercase;font-size: 12px;letter-spacing: 0.1em}

/* ================= FOOTER ================= */
footer{}
footer .foot_top{background: #2e2e2e;padding: 200px 0;position: relative;}
footer .foot_top::before,
footer .foot_top::after{width: 550px;height: 528px;position: absolute;top: calc(50% - 264px);left: 0;content: '';background: url('../images/foot_top_l.jpg') center /cover no-repeat;z-index: 0;}
footer .foot_top::after{left: inherit;right: 0;background: url('../images/foot_top_r.jpg') center /cover no-repeat;}
footer .foot_top .container{position: relative;z-index: 2;}
footer .foot_top .foot_partner{background: #fff;box-shadow: 0 -5px 8px rgba(0,0,0,0.15);position: absolute;top: -300px;left: 0;width: 100%}
footer .foot_top .foot_partner ul{padding: 50px 0}
footer .foot_top .foot_partner ul li{}

footer .foot_top .title{text-align: center;max-width: 600px;margin: 0 auto;}
footer .foot_top .title h3{margin-bottom: 15px;color: #fff;}
footer .foot_top .title p{color: #aaa;font-size: 16px}

footer .foot_mid{background: #fbaa39;padding: 0 0 120px;}
footer .foot_mid_box{position: relative;top: -120px;}
footer .foot_mid_box ul{background: #fff;display: flex;}
footer .foot_mid_box ul li{width: calc(100% / 3);height: 400px;display: flex;align-items: center;justify-content: center;text-align: center;flex-direction: column;border-right: 1px solid #ededed;padding: 0 30px}
footer .foot_mid_box ul li:last-child{border-right: none;}
footer .foot_mid_box ul li p{margin-bottom: 0}
footer .foot_mid_box ul li .txt{position: relative;padding-bottom: 20px}
footer .foot_mid_box ul li .txt::before{width: 80px;height:2px;background: #fbaa39;content: '';position: absolute;bottom: 0;left: calc(50% - 40px);}
footer .foot_mid_box ul li .icon{}
footer .foot_mid_box ul li .name{margin: 15px 0;font-size: 20px;}

footer .foot_mid_txt{}
footer .foot_mid_txt p{margin-bottom: 0;color: #fff;text-align: center;font-size: 16px;}
footer .foot_mid_txt .big{color: #fff;text-align: center;text-transform: none;line-height: 1.25em;margin-bottom: 30px}
footer .foot_mid_txt .btn{margin-top: 30px}

footer .foot_bot{background: url('../images/foot_bot_bg.jpg') center /cover no-repeat;padding: 100px 0}
footer .foot_bot{}
footer .foot_bot .container{display: flex;}
footer .foot_bot_it{}
footer .foot_bot_it.desc{color: #969696;width: 30%;padding-right: 50px}
footer .foot_bot_it.desc ul{display: flex;}
footer .foot_bot_it.desc ul li{margin-right: 10px;}
footer .foot_bot_it.info{width: 25%;padding-right: 50px}
footer .foot_bot_it.info p{color: #969696;margin-bottom: 15px;x}
footer .foot_bot_it.info .big{color: #fff;font-size: 20px;}
footer .foot_bot_it.link{width: 15%;padding: 0}
footer .foot_bot_it.link p{font-size: 20px;color: #fff;margin-bottom: 15px;}
footer .foot_bot_it.link ul{}
footer .foot_bot_it.link ul li{margin-bottom: 15px}
footer .foot_bot_it.link ul li a{color: #fff;font-size: 16px;}
footer .foot_bot_it.social{width: 30%;padding: 0}
footer .copyright{height: 60px;display: flex;justify-content: center;align-items: center;text-align: center;color: #969696;font-size: 12px;background: #252525;}

/* ================= SUB PAGE  ================= */
.sub_page main{margin-bottom: 250px}

/* SUB HEADER */
.sub_head{background: url('../images/sub_head_bg.jpg') center fixed no-repeat;background-size: cover;}
.sub_head .title{font-size: 60px;color: #fff;display: flex;align-items: center;justify-content: center;text-align: center;height: 300px;letter-spacing: 0.1em;text-transform: uppercase;font-weight: 300}

.main_content{margin-bottom: 150px;}

/* BREADCRUMB */
.breadcrumbs{padding: 15px 0;margin-bottom: 30px;display: flex}
.breadcrumbs li{text-transform: capitalize;}
.breadcrumbs li a{color: #f4b35e;}

/* PAGINATION */
.pagination{display: flex;justify-content: center;}
.pagination li{margin: 0 5px 10px}
.pagination li a{width: 40px;height: 40px;border:1px solid #f4b35e;border-radius: 5px;background: #fff;transition: all ease 0.3s;color: #000;display: flex;justify-content: center;align-items: center;text-align: center;}
.pagination li.active a,
.pagination li a:hover{background: #f4b35e;color: #fff;}
.pagination li.current{width: 40px;height: 40px;border:1px solid #f4b35e;border-radius: 5px;background: #fff;transition: all ease 0.3s;color: #000;display: flex;justify-content: center;align-items: center;text-align: center; background-color:#f4b35e;}

.pagination li:hover,
.pagination li.current{color: #fff;text-decoration: underline;}
.pagination li.current{border: 1px solid #000;}

/* PAGE TIN TỨC  */
.news_list{}
.news_list dl{background: #f6f7f8;display: flex;border: 2px solid #eee;margin-bottom: 50px;}
.news_list dl:nth-child(even){flex-direction: row-reverse;}
.news_list dl:last-child{margin-bottom: 0}
.news_list dt{width: 50%;position: relative;height: 442px;}
.news_list dt a{width: 600px;height: 442px;display: flex;align-items: center;justify-content: center;text-align: center;position: absolute;top: calc(50% - 221px);left: calc(50% - 300px);overflow: hidden}
.news_list dt a img{max-height: 100%;max-width: 100%;width: auto;height: auto;transition: all linear 5s}
.news_list dd{border-left: none;width: 50%;padding: 50px;}
.news_list dd p{margin-bottom: 0}
.news_list dd .date{font-size: 12px;color: #fbaa39;text-transform: uppercase;}
.news_list dd .ttl{margin: 15px 0}
.news_list dd .ttl a{font-size: 24px;text-transform: capitalize;display: inline-block;max-width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color: #000}
.news_list dd .txt{text-overflow:ellipsis;overflow:hidden;max-height:200px;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;margin-bottom: 20px;font-size: 16px;}
.news_list dd .link{}
.news_list dd .link a{color: #999;text-transform: uppercase;font-size: 12px;letter-spacing: 0.1em}

/* PAGE CHI TIẾT TIN TỨC*/
#news_detail main{margin-bottom: 0;}
.main_news{display: flex;margin-bottom: 50px;}
.main_news .news_detail{}
.main_news .news_detail .container{display: flex;justify-content: space-between;}
.main_news .news_detail .news_detail_ct{margin-bottom: 30px}
.main_news .news_detail .news_detail_ct .ttl{font-size:24px;text-align:left;text-transform:none;line-height: 1.5em;margin-bottom: 50px;}
.main_news .news_detail .news_detail_ct .date{font-size: 14px;color: #fbaa39;text-transform: uppercase;}
.main_news .news_detail .news_detail_ct p{font-size:16px;}
.main_news .news_detail .news_detail_ct img{display: block;margin: 0 auto}

.main_news .news_detail .news_share{display:block;padding-top: 30px;border-top:dotted 1px #d3d3d3;}
.main_news .news_detail .news_share ul{display:block;margin-bottom:15px}
.main_news .news_detail .news_share ul li{display:inline-block;margin:0 10px 15px 0;}
.main_news .news_detail .news_share ul li button{background: none;border-radius:0px;border: none;display: flex;align-items: center;}
.main_news .news_detail .news_share ul li button img{max-width: 28px}
.main_news .news_detail .news_share p{}
.main_news .news_detail .news_share p strong,
.main_news .news_detail .news_share p b{color:#f4b35e;}

.main_news .news_recent{width: 280px; clear:both;}
.main_news .news_recent h3{margin-bottom:15px;font-size:24px;text-transform:uppercase;font-weight: 300;text-align:center;}
.main_news .news_recent .news_recent_item{display:block;margin-bottom:15px;padding-bottom:15px;border-bottom:1px dashed #ededed;text-align:center}
.main_news .news_recent .news_recent_item .big{text-transform: capitalize;font-size:18px;text-align:left;margin:10px 0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding:0;border:none;color:#323232;display:block;}
.main_news .news_recent .news_recent_item .date{font-size: 14px;color: #999;padding-left: 20px;background: url('../images/ic_cal.png') left center no-repeat;background-size: 15px 15px;text-align: left}
.main_news .news_recent .news_recent_item .link{display: flex;justify-content: flex-start;margin-bottom: 0}
.main_news .news_recent .news_recent_item .link a{width: 100px;height: 40px;background: #f4b35e;border:1px solid #f4b35e;color: #fff;border-radius: 3px;display: flex;align-items: center;justify-content: center;text-align: center;transition: all ease 0.3s}



/* PAGE SẢN PHẨM */
.main_product{}
.main_product .container{display: flex;justify-content: space-between;}

.product_sidebar{width: 270px;padding-right: 15px}
.product_sidebar .big{font-size: 20px;text-transform: capitalize;margin-bottom: 20px;}
.product_sidebar .product_cate ul li a span { color:#f4b35e;}
.product_sidebar .product_cate{margin-bottom: 30px;border-bottom: 1px solid #ccc}
.product_sidebar .product_cate:last-child{margin-bottom: 0;border-bottom: none;}
.product_sidebar .product_cate ul{display: flex;flex-direction: column;}
.product_sidebar .product_cate ul li{width: 100%;margin-bottom: 20px;}
.product_sidebar .product_cate ul li a{display: flex;justify-content: space-between;}
.product_sidebar .product_cate ul.size_filter{flex-direction: row;flex-wrap: wrap;padding-bottom: 20px;}
.product_sidebar .product_cate ul.size_filter li{width:30px;height: 30px;margin-right: 5px;margin-bottom: 5px;display: flex;}
.product_sidebar .product_cate ul.size_filter li a{display: flex;width: 100%;height: 100%;align-items: center;justify-content: center;text-align: center;border:1px solid #000;}
.product_sidebar .product_cate ul.color_filter li a{padding: 3px;}
.product_sidebar .product_cate ul li a..active-li-left span{color: red}

.product_sidebar .product_cate .filter-price{}
.product_sidebar .product_cate .filter-price p{display:inline-block;width:49%;text-align:left;margin:20px 0}
.product_sidebar .product_cate .filter-price p.upper{text-align:right}

.main_product_ct{margin-top: 50px;width: 900px;}
.main_product_ct .product_list{display: flex;flex-wrap: wrap}
.main_product_ct .product_list li{width: 290px;margin:0 15px 50px 0}
.main_product_ct .product_list li:nth-child(3n + 3){margin-right: 0}
.main_product_ct .product_list li .main_product_img{box-shadow: 0 0 25px 0px rgba(0,0,0,0.1);width: 100%; position:relative;}
.main_product_ct .product_list li .main_product_img a{display: flex;width: 290px;height: 290px;justify-content: center;align-items: center;background: #fff;margin-bottom: 20px;border:3px solid #fff;transition: all linear 0.3s}
.main_product_ct .product_list li .main_product_txt{position: relative;}
.main_product_ct .product_list li .main_product_txt p{}
.main_product_ct .product_list li .main_product_txt .link{}
.main_product_ct .product_list li .main_product_txt .link a{display: block;text-align: center;border-bottom: 1px solid #e4e4e4;text-transform: capitalize;letter-spacing: 1px;font-size: 20px;width: 100%;margin: 0px 0 15px;padding: 0 0 15px;transition: all ease 0.3s}
.main_product_ct .product_list li .main_product_txt .price{}
.main_product_ct .product_list li .main_product_txt .price span{display: block;font-weight: 700;text-align: center;}
.main_product_ct .product_list li .main_product_txt .price .real{font-size: 24px;}
.main_product_ct .product_list li .main_product_txt .price .saleoff{color: #999;text-decoration: line-through;font-size: 16px;font-weight: 300}

/* PAGE CHI TIẾT SẢN PHẨM*/
.main_prd_detail{}
.main_prd_detail_ct{display: flex;}
.main_prd_detail_ct .productdetails{width: 900px;padding-left: 30px}
.prd_detail_ct{display: flex;justify-content: space-between;margin-bottom: 50px; }
.prd_detail_ct .prd_detail_img{width: 400px;}
.prd_detail_ct .prd_detail_img .prd_big{margin-bottom: 20px;}
.prd_detail_ct .prd_detail_img .prd_big li{border:1px solid #999;width: 400px;height: 400px;background: #fff;display: flex;align-items: center;justify-content: center;text-align: center; position:relative;}
.prd_detail_ct .prd_detail_img .prd_big li img{max-height: 100%}
.prd_detail_ct .prd_detail_img .prd_thumb{}
.prd_detail_ct .prd_detail_img .prd_thumb li{border:1px solid #999;margin: 0 5px}
.prd_detail_ct .prd_detail_img .prd_thumb li.slick-current{border-color:#f4b35e;}

.prd_detail_ct .prd_detail_txt{width: 800px;padding: 0 30px;}
.prd_detail_ct .prd_detail_txt h3{font-size: 32px;font-weight: 300;text-transform: uppercase;margin-bottom: 15px;}
.prd_detail_ct .prd_detail_txt .prd_price{margin-bottom: 15px;}
.prd_detail_ct .prd_detail_txt .prd_price p{font-size: 24px;color: #f4b35e;}
.prd_detail_ct .prd_detail_txt .prd_price .discount{color: #999;text-decoration: line-through;font-size: 16px;}
.prd_detail_ct .prd_detail_txt .prd_num select{width: 50px;color: #8B8B8B;border: 1px solid #CFCFCF;background: #F1F1F1;font-size: .916em;line-height: 1.4em;padding-top: 3px;padding-bottom: 3px;}
.prd_detail_ct .prd_detail_txt .prd_num span{}
.prd_detail_ct .prd_detail_txt .prd_num input{border:1px solid #eded;padding: 10px;background: #fff;border-radius: 5px;margin-left: 10px}
.prd_detail_ct .prd_detail_txt .prd_gift {}
.prd_detail_ct .prd_detail_txt .prd_gift p{display: flex;align-items: center}
.prd_detail_ct .prd_detail_txt .prd_gift a{display: flex;align-items: center;justify-content: center;text-align: center;width: 50px;height: 50px;background: #fff;padding: 5px;border: 1px solid #ededed;margin-left: 10px}
.prd_detail_ct .prd_detail_txt .prd_gift a:hover{border-color: #323232}
.prd_detail_ct .prd_detail_txt .prd_gift span{}
.prd_detail_ct .prd_detail_txt .prd_stock{}
.prd_detail_ct .prd_detail_txt .prd_stock p{margin-bottom: 10px}
.prd_detail_ct .prd_detail_txt .prd_stock .on span{color: #000;}
.prd_detail_ct .prd_detail_txt .prd_stock .off span{color: #ea433c;}
.prd_detail_ct .prd_detail_txt .prd_stock .gift span{color: #f4b35e;}
.prd_detail_ct .prd_detail_txt .prd_share{margin-top: 30px;}
.prd_detail_ct .prd_detail_txt .prd_share p{display: flex;align-items: center;}
.prd_detail_ct .prd_detail_txt .prd_share p a{margin:0 10px;}
.prd_detail_ct .prd_detail_txt .prd_share p a:hover{opacity: 0.7;}

/* SẢN PHẨM CÙNG LOẠI */
.prd_related{margin-bottom: 100px}
.prd_related:last-child{margin-bottom: 0}
.prd_related h3{font-size: 32px;font-weight: 300;text-transform: uppercase;margin-bottom: 15px;}
.prd_related_list ul{}
.prd_related_list ul li{margin: 0 15px;padding: 10px;border:1px solid #999;position: relative;}
.prd_related_list li .img{width: 100%;}
.prd_related_list li .img a{display: flex;width: 250px;height: 250px;justify-content: center;align-items: center;background: #fff;margin-bottom: 20px;border:3px solid #fff;transition: all linear 0.3s}
.prd_related_list li .link{}

.prd_related_list li .link a{display: block;text-align: center;border-bottom: 1px solid #e4e4e4;text-transform: capitalize;letter-spacing: 1px;font-size: 20px;width: 100%;margin: 0px 0 15px;padding: 0 0 15px;transition: all ease 0.3s;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.prd_related_list li .price{min-height: 50px;}
.prd_related_list li .price span{display: block;font-weight: 700;text-align: center;}
.prd_related_list li .price .real{font-size: 24px;}
.prd_related_list li .price .saleoff{color: #999;text-decoration: line-through;font-size: 16px;font-weight: 300}
.prd_related_list li .label_prd p{width: 60px;height: 35px;}

/* BOX PRICE */
.modal_price img{max-width: 100%;}
.modal_price{transform: scaleX(0);opacity: 0;visibility: hidden;transition: all ease 0.4s;background: rgba(0,0,0,0.4);}
.modal_price .ic_close{position: absolute;top:10px;right: 10px;}
.modal_price .ic_close:hover{opacity: 0.8;cursor: pointer;}

.modal_price.open{position: fixed;top:0;left: 0;width: 100%;height: 100%;z-index: 9999999999;opacity: 1;visibility: visible;transform: scaleX(1);transition: all ease-in-out 0.4s;}
.modal_close{position: absolute;top:0;left: 0;width: 100%;height: 100%;z-index: 1}
.modal_price_ct{background: #fff;z-index: 2;width: 80%;height: 90%;left: 10%;top:5%;position: absolute;display: flex;justify-content: center;box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);border-radius: 5px;overflow: auto;}
.modal_price_ct .modal_l{width: 30%;background: #f1f3f5;padding: 30px;}
.modal_price_ct .modal_l .logo_modal{margin-bottom: 15px;}
.modal_price_ct .modal_l .big{font-size: 24px;text-align: center;font-weight: bold;line-height: 1.5em;}
.modal_price_ct .modal_l .big span{color:#0047cb;}
.modal_price_ct .modal_l .call{position: relative;background: #0047cb;color: #fff;text-align: center;padding: 10px;font-size: 18px;margin:20px auto 30px;}
.modal_price_ct .modal_l .call::before{width: 0;height: 0;border-style: solid;border-width: 20px 15px 0 15px;border-color: #0047cb transparent transparent transparent;position: absolute;bottom: -20px;left: calc(50% - 15px);content: '';}
.modal_price_ct .modal_l .call a{font-weight: bold;color:#fff;}
.modal_price_ct .modal_l ul{}
.modal_price_ct .modal_l ul li{position: relative;padding-left: 30px;margin-bottom: 20px}
.modal_price_ct .modal_l ul li:last-child{margin-bottom: 0}
.modal_price_ct .modal_l ul li::before{background: url('../images/ic_check.png') center no-repeat;background-size: cover;width: 20px;height: 20px;content: '';position: absolute;top:0;left: 0;}
.modal_price_ct .modal_l ul li span{color:#f4b35e;}

.modal_price_ct .modal_r{width: 70%;background: #fff;box-sizing: border-box;padding: 15px 30px;}
.modal_price_ct .modal_r p{color:#666;font-size: 15px;line-height: 1.6em;}
.modal_price_ct .modal_r p a{color: #f4b35e;text-decoration: none;}
.modal_price_ct .modal_r p a:hover{text-decoration: underline;}
.modal_price_ct .modal_r .big{font-size: 28px;font-weight: bold;}

.modal_price_ct .modal_r .modal_r_list{width: 100%;display: flex;justify-content: space-between;margin-top: 15px;}
.modal_price_ct .modal_r .modal_item{width: 48%}
.modal_price_ct .modal_r .modal_item .ttl{background: #f0f0f0;border-radius: 30px 0 0 30px;height: 40px;display: flex;align-items: center;box-sizing: border-box;padding-left: 5px;}
.modal_price_ct .modal_r .modal_item .ttl img{margin-right: 10px;}
.modal_price_ct .modal_r .modal_item ul{margin-top: 10px}
.modal_price_ct .modal_r .modal_item ul li{position: relative;box-sizing: border-box;height: 50px;display: flex;align-items: center;margin-bottom: 10px;}
.modal_price_ct .modal_r .modal_item ul li span{position: absolute;top:0;left: 0;width: 100%;height: 100%;z-index: 0;background: #fff;border: 1px solid #f0f0f0;background: #f0f0f0}
.modal_price_ct .modal_r .modal_item ul li:focus span,
.modal_price_ct .modal_r .modal_item ul li:hover span{border-color: #f4b35e}

.modal_price_ct .modal_r .modal_item ul li select,
.modal_price_ct .modal_r .modal_item ul li input {border:none;outline: none;box-shadow: none;width: calc(100% - 30px);display: block;position: relative;z-index: 1;margin: 0 auto;background: none;}

.ddllaykhach {border:none;outline: none;box-shadow: none;width: 100%;display: block;position: relative;z-index: 1;font-size: 15px; margin-bottom:15px; float:left;}

.modal_price_ct .modal_r .modal_item ul li input::placeholder{color:#ccc;}
.modal_price_ct .modal_confirm{display: flex;justify-content: space-between;width: 100%;align-items: center;    }
.modal_price_ct .modal_confirm p{width: 48%;}
.modal_price_ct .modal_confirm p img{max-width: 100%;}
.modal_price_ct .modal_confirm p a {background: #f4b35e;width: 100%;height: 40px;display: flex;justify-content: center;align-items: center;color: #fff;text-align: center;}
.modal_price_ct .modal_confirm p a:hover,
.btn-guilaykhach:hover{opacity: 0.8;text-decoration: none;}
.btn-guilaykhach {background: #0047cb;width: 50%;height: 40px;display: flex;justify-content: center;align-items: center;color: #fff;text-align: center;}


/* FUNCTION ASIDE */
.function_aside{position: fixed;bottom: 140px;right: 10px;z-index: 99;}
.function_aside ul{}
.function_aside ul li{margin-bottom: 15px}
.function_aside ul li a{display: flex;width: 50px;height: 50px;align-items: center;justify-content: center;text-align: center;border-radius: 5px;}
.function_aside ul li:last-child{margin-bottom: 0}
.function_aside ul li.money a{position: relative;}
.function_aside ul li.money a span{width: 100%;height: 100%;position: absolute;top: 0;left: 0}